* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: Verdana;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    font-weight: normal;
    padding-top: 50px;
}

.link {
    padding-top: 50px;
    text-align: center;
}

.link a {
    color: aquamarine;
}

.phone-video {
    padding-top: 50px;
    text-align: center;
}

.travel-guide{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: Verdana;
}

.travel-guide h2 {
    font-weight: 300;
    font-size: 42px;
}

.travel-guide h3 {
    padding-top: 50px;
    font-weight: normal;
    font-size: 21px;
    color: gray;
}

img {
    padding-top: 20px;
}

