* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: Verdana;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    font-weight: normal;
    padding-top: 50px;
}

.link {
    padding-top: 50px;
    text-align: center;
}

.link a {
    color: aquamarine;
}

.phone-video {
    padding-top: 50px;
    text-align: center;
}